[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart={{ home_promet }}/prometheus \
    --config.file {{ home_promet }}/prometheus.yml \
    --storage.tsdb.path /var/lib/prometheus/ \
    --web.console.templates={{ home_promet }}/consoles \
    --web.console.libraries={{ home_promet }}/console_libraries

[Install]
WantedBy=multi-user.target
