user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;
include /usr/share/nginx/modules/*.conf;

events {
  worker_connections 1024;
}

http {
  log_format upstreamlog '[$time_local] Name: $server_name; Ip: $upstream_addr;  [$request] '
                         'Status: $status; Bytes: $body_bytes_sent; Request: "$http_referer"';

  upstream tomcat{
    server {{ server1 }};
    server {{ server2 }};
    server {{ server3 }};
  }


  server {
    listen 80;
    server_name gitbucket;

    access_log /var/log/nginx/access.log upstreamlog;

    location / {
      proxy_pass http://tomcat;
    }
  }
}

